body{
  background-color: #bdbdbd;
}
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/*------------------------------input------------------------------*/
.text-field {
  max-width: 400px;
  width: 100%;
}

.text-field__label {
  display: block;
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}

.text-field__input {
  width: 94%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
  color: #000000;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #000000;
  background-color: #fff;
  border-color: #999999;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(143, 140, 140, 0.25);
}
/*------------------------------Button------------------------------*/
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  border-radius: 100px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  cursor: pointer;
  }


.countries{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 40px;;
}

.country{
  margin: 20px ;
  background-color: #fff;
  box-shadow: 0px 0px 18px 9px rgba(255,255,255,0.91);  
}

.country_img{
  max-width: 350px;
  width: 100%;
}
.country_info{
  padding: 20px;
}
.country_name{
  font-size: 30px;
  font-weight: 700;
}
.country_capital{
  font-size:24px;
  font-weight: 600;
}
.country_region{
  font-weight: 500;
  padding: 10px 0;
}
.country_info_text{
  padding: 5px 10px;
}
